.account-bank {
    margin: 20px auto;
    border: solid 1px rgba(0,0,0,0.3);
    border-radius: 15px;
    padding: 10px 10px 20px 10px;
    width: calc(100% - 50px);
    max-width: 800px;
}

.balance {
    display: flex;
    width: calc(100% - 40px);
    max-width: 400px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.balance-title {
    font-weight: 600;
}

.balance-positive {
    color: darkgreen;
}

.balance-negative {
    color: darkred;
}

.transaction {
    margin: 30px 0 10px 0;
}