.home {
    background-color: #fafafa;
    padding-bottom: 55px;
}

.home-banner {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0;
    background-color: rgb(235, 160, 042);
    color: antiquewhite;
}

.sparcs-logo-wrapper {
    padding: 80px 0 160px 0;
}

.sparcs-logo {
    color: white;
    font-weight: 800;
}

.link-wrapper {
    width: calc(100% - 60px);
    max-width: 800px;
    margin: -80px auto 30px auto;
    background-color: white;
    /* height: 300px; */
    border-radius: 10px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
    padding: 10px;
}

.link-options {
    --gap: 10px;
    --grid-width: min(800px, 100%);
    width: var(--grid-width);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, calc(calc(var(--grid-width) - var(--gap)) / 2));
    gap: var(--gap);
}

.page-link {
    border: solid 1px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    animation: transform, box-shadow 100ms ease;
}

.page-link:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.2);
    transition: transform 200ms ease, box-shadow 200ms ease;
}

.page-link .page-subtitle {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: rgb(235, 160, 042);
}

.page-link .page-title {
    padding: 20px 0 20px 0;
    font-size: 22px;
    font-weight: 600;
}

.server-status {
    font-size: 12px;
    color: rgb(162, 162, 162);
}

.server-status .status-icon {
    font-weight: 800;
}

.server-status .status-connected {
    color: green;
}

.server-status .status-disconnected {
    color: red;
}